.Agents {
  display: flex;
  flex-wrap: wrap;
}

.agentbox {
  padding: 23px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  margin: 1rem;
}

.Agent_Name {
  padding: 10px;
  text-align: center;
  width: 30%;
  font-size: 1.5rem;
}
